.form-control:focus {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.container{
  position:relative;
  top:40%;
  align-items: center;
  font-family: 'Mynerve', cursive;
  display: flex;
  justify-content: center;
}
/* 
#loginSignup{
  height: 200px;
} */

#loginButton{
  margin-top: .5rem;
}

.form-group{
  width: 350px;
}
#register{
margin-left: 10rem;
}

