.form-control:focus {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.container {
  position: relative;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Mynerve', cursive;
}

.warning {
  color: red;
}

#loginButton {
  margin-top: 0.5rem;
}

.form-group {
  width: 350px;
}

#register {
  float: right;
  border: none;
  background-color: white;
  color: blue;
  padding-top: 1rem;
}
